@model Vehicle

@{
    ViewData["Title"] = "Create";
}

@{
    string heading = Model.VehicleID == 0 ? "Create" : "Edit";
}

<h1>@heading</h1>

@using (Html.BeginForm("Save", "Vehicle"))
{
    <div class="row">
        <div class="col-4">
            <h3>Vehicle</h3>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Manufacturer, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Manufacturer, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Model, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Model, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Type, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Type, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Capacity, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Capacity, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Color, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Color, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Mileage, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Mileage, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Mileage, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Year, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Year, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ListingPrice, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingPrice, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ListingPrice, "", new { @class = "text-danger" })
            </div>

            @Html.HiddenFor(m => m.VehicleID)

            @{
                string buttonValue = Model.VehicleID == 0 ? "Create" : "Save";
            }
            <div class="form-group">
                <input type="submit" value=@buttonValue class="btn btn-primary" />
            </div>

            <div class="form-group">
                @Html.ActionLink("Back to list", "Index")
            </div>
        </div>
    </div>

}
